<!-- banner -->
<div class="grid grid-cols-1 gap-14 relative md:grid-cols-2 md:items-center">
  <section
    class="h-44 w-[76%] md:w-[35%] md:h-64 rounded-l-full bg-softBlue absolute right-0 top-20 md:top-20 lg:top-32 -z-10"
  ></section>
  <!-- hero -->
  <section class="border border-black md:order-2">
    <img src="./images/illustration-hero.svg" alt="" class="w-full" />
  </section>

  <!-- banner about -->
  <section class="text-center md:text-left md:order-1">
    <h1
      class="text-3xl text-veryDarkBlue md:leading-tight leading-tight md:text-5xl font-medium"
    >
      A Simple Bookmark Manager
    </h1>
    <p class="leading-normal mt-5 text-grayishBlue">
      A clean and simple interface to organize your favourite websites. Open a
      new browser tab and see your sites load instantly. Try it for free.
    </p>

    <section class="flex flex-row justify-center md:justify-start gap-x-5 mt-8">
      <button
        class="bg-softBlue shadow-lg text-white rounded-lg font-medium py-3 px-6 hover:bg-white hover:border-2 hover:border-softBlue hover:text-softBlue transition-all duration-200"
      >
        Get it on Chrome
      </button>
      <button
        class="bg-gray-50 shadow-xl text-grayishBlue rounded-lg font-medium py-3 px-6 hover:bg-white hover:border-2 hover:border-veryDarkBlue hover:text-veryDarkBlue transition-all duration-200"
      >
        Get it on Firefox
      </button>
    </section>
  </section>
</div>
