<!-- ==========================extension download======= -->
<div class="max-w-md mx-auto space-y-8 md:max-w-4xl px-6">
    <!-- ===========extension download header -->
    <div class="text-center">
      <h2
        class="text-2xl text-veryDarkBlue md:leading-tight leading-tight font-medium"
      >
        Download the extension
      </h2>
      <p
        class="leading-normal mt-5 text-grayishBlue md:max-w-lg md:mx-auto"
      >
        We’ve got more browsers in the pipeline. Please do let us know if
        you’ve got a favourite you’d like us to prioritize.
      </p>
    </div>

    <!-- ===============extension download browser -->
    <div class="flex flex-col gap-10 md:gap-5 py-10  md:flex-row md:h-[500px]">
      <!-- chrome browser -->
      <div class="flex flex-col self-start items-center py-10 shadow-xl max-w-sm mx-auto rounded-xl">
        <section>
          <img src="./images/logo-chrome.svg" alt="" class="h-20" />
        </section>
        <h2
          class="text-xl mt-8 text-veryDarkBlue md:leading-tight leading-tight font-medium"
        >
          Add to Chrome
        </h2>
        <p
          class="leading-normal mt-2 text-grayishBlue md:max-w-lg md:mx-auto"
        >
          Minimum version 62
        </p>
        <img src="/images/bg-dots.svg" alt="" class="mt-8" />
        <button
        class="bg-softBlue mt-6 shadow-lg text-white rounded-lg font-medium py-3 px-6 hover:bg-white hover:border-2 hover:border-softBlue hover:text-softBlue transition-all duration-200"
      >
      Add & Install Extension
      </div>

      <!-- firefox browser -->
      <div class="flex flex-col self-center items-center py-10 shadow-xl max-w-sm mx-auto rounded-xl">
        <section>
          <img src="./images/logo-firefox.svg" alt="" class="h-20" />
        </section>
        <h2
          class="text-xl mt-8 text-veryDarkBlue md:leading-tight leading-tight font-medium"
        >
          Add to Firefox
        </h2>
        <p
          class="leading-normal mt-2 text-grayishBlue md:max-w-lg md:mx-auto"
        >
          Minimum version 55
        </p>
        <img src="/images/bg-dots.svg" alt="" class="mt-8" />
        <button
        class="bg-softBlue mt-6 shadow-lg text-white rounded-lg font-medium py-3 px-6 hover:bg-white hover:border-2 hover:border-softBlue hover:text-softBlue transition-all duration-200"
      >
      Add & Install Extension
      </div>

      <!-- opera browser -->
      <div class="flex flex-col self-end items-center py-10 shadow-xl max-w-sm mx-auto rounded-xl">
        <section>
          <img src="./images/logo-opera.svg" alt="" class="h-20" />
        </section>
        <h2
          class="text-xl mt-8 text-veryDarkBlue md:leading-tight leading-tight font-medium"
        >
          Add to Opera
        </h2>
        <p
          class="leading-normal mt-2 text-grayishBlue md:max-w-lg md:mx-auto"
        >
          Minimum version 46
        </p>
        <img src="/images/bg-dots.svg" alt="" class="mt-8" />
        <button
        class="bg-softBlue mt-6 shadow-lg text-white rounded-lg font-medium py-3 px-6 hover:bg-white hover:border-2 hover:border-softBlue hover:text-softBlue transition-all duration-200"
      >
      Add & Install Extension
      </div>
    </div>
  </div>