<!-- faq block -->
<div class="max-w-md mx-auto px-8 md:max-w-xl">
  <!-- faq header -->
  <div class="text-center">
    <h2
      class="text-2xl text-veryDarkBlue md:leading-tight leading-tight font-medium"
    >
      Frequently Asked Questions
    </h2>
    <p class="leading-normal mt-5 text-grayishBlue md:max-w-lg md:mx-auto">
      Here are some of our FAQs. If you have any other questions you’d like
      answered please feel free to email us.
    </p>
  </div>

  <!-- faq questions and answer -->
  <div class="mt-10">
    <!-- question 1 -->
    <section
      class="space-y-6 py-6 border-b-2 border-opacity-20 border-grayishBlue"
    >
      <div class="flex flex-row justify-between items-center">
        <p class="font-medium text-veryDarkBlue">What is Bookmark?</p>
        <aside>
          <img src="./images/icon-arrow.svg" alt="" class="width" />
        </aside>
      </div>
      <p class="hidden text-grayishBlue text-sm">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt
        justo eget ultricies fringilla. Phasellus blandit ipsum quis quam ornare
        mattis.
      </p>
    </section>

    <!-- question 2 -->
    <section
      class="space-y-6 py-6 border-b-2 border-opacity-20 border-grayishBlue"
    >
      <div class="flex flex-row justify-between items-center">
        <p class="font-medium text-veryDarkBlue">
          How can I request a new browser?
        </p>
        <aside>
          <img src="./images/icon-arrow.svg" alt="" class="width" />
        </aside>
      </div>
      <p class="hidden text-grayishBlue text-sm">
        Vivamus luctus eros aliquet convallis ultricies. Mauris augue massa,
        ultricies non ligula. Suspendisse imperdiet. Vivamus luctus eros aliquet
        convallis ultricies. Mauris augue massa, ultricies non ligula.
        Suspendisse imperdie tVivamus luctus eros aliquet convallis ultricies.
        Mauris augue massa, ultricies non ligula. Suspendisse imperdiet.
      </p>
    </section>

    <!-- question 3 -->
    <section
      class="space-y-6 py-6 border-b-2 border-opacity-20 border-grayishBlue"
    >
      <div class="flex flex-row justify-between items-center">
        <p class="font-medium text-veryDarkBlue">Is there a mobile app?</p>
        <aside>
          <img src="./images/icon-arrow.svg" alt="" class="width" />
        </aside>
      </div>
      <p class="hidden text-grayishBlue text-sm">
        Sed consectetur quam id neque fermentum accumsan. Praesent luctus
        vestibulum dolor, ut condimentum urna vulputate eget. Cras in ligula
        quis est pharetra mattis sit amet pharetra purus. Sed sollicitudin ex et
        ultricies bibendum.
      </p>
    </section>

    <!-- question 4 -->
    <section
      class="space-y-6 py-6 border-b-2 border-opacity-20 border-grayishBlue"
    >
      <div class="flex flex-row justify-between items-center">
        <p class="font-medium text-veryDarkBlue">
          What about other Chromium browsers?
        </p>
        <aside>
          <img src="./images/icon-arrow.svg" alt="" class="width" />
        </aside>
      </div>
      <p class="hidden text-grayishBlue text-sm">
        Integer condimentum ipsum id imperdiet finibus. Vivamus in placerat mi,
        at euismod dui. Aliquam vitae neque eget nisl gravida pellentesque non
        ut velit.
      </p>
    </section>
  </div>
</div>
