<!-- =============================features block================== -->
<div class="px-8">
  <!--==============features heading and paragraph -->
  <div class="text-center">
    <h2
      class="text-2xl text-veryDarkBlue md:leading-tight leading-tight font-medium"
    >
      Features
    </h2>
    <p class="leading-normal mt-5 text-grayishBlue md:max-w-lg md:mx-auto">
      Our aim is to make it quick and easy for you to access your favourite
      websites. Your bookmarks sync between your devices so you can access them
      on the go.
    </p>
  </div>

  <!-- ===========features type -->
  <ul
    class="flex flex-col md:flex-row text-grayishBlue md:justify-between md:pb-4 md:border-b md:border-opacity-50 max-w-md mx-auto md:max-w-3xl md:mx-auto border-gray-300 font-medium text-center mt-10 md:mt-14"
  >
    <li class="border-y border-gray-300 py-3 border-opacity-50 md:border-0">
      <a
        href=""
        class="active:text-veryDarkBlue hover:text-softRed md:px-8 hover:border-b-4 hover:border-softRed py-3 md:py-7 transition-all duration-200"
        >Simple Bookmarking</a
      >
    </li>
    <li class="border-b border-gray-300 border-opacity-50 py-3 md:border-0">
      <a
        href=""
        class="active:text-veryDarkBlue hover:text-softRed md:px-8 hover:border-b-4 hover:border-softRed py-3 md:py-7 transition-all duration-200"
        >Speedy Searching</a
      >
    </li>
    <li class="border-b border-gray-300 border-opacity-50 py-3 md:border-0">
      <a
        href=""
        class="active:text-veryDarkBlue hover:text-softRed md:px-8 hover:border-b-4 hover:border-softRed py-3 md:py-7 transition-all duration-200"
        >Easy Sharing</a
      >
    </li>
  </ul>

  <!-- =============================features banner (tab 1)================== -->
  <div class="max-w-lg px-8 mx-auto md:max-w-6xl md:mx-auto relative pb-32">
    <div class="grid grid-cols-1 gap-28 mt-20 md:grid-cols-2 md:items-center">
      <!-- blue background -->
      <section
        class="h-44 w-[100%] md:w-[50%] sm:h-64 md:h-72 lg:h-64 rounded-r-full bg-softBlue absolute -left-40 top-16 md:top-20 lg:top-32 -z-10"
      ></section>
      <!-- hero -->
      <section class="md:order-1">
        <img
          src="./images/illustration-features-tab-1.svg"
          alt=""
          class="w-full"
        />
      </section>

      <!-- banner about -->
      <section class="text-center md:text-left md:order-2">
        <h1
          class="text-2xl text-veryDarkBlue md:leading-tight leading-tight md:text-3xl font-medium"
        >
          Bookmark in one click
        </h1>
        <p class="leading-normal mt-5 text-grayishBlue md:max-w-md">
          Organize your bookmarks however you like. Our simple drag-and-drop
          interface gives you complete control over how you manage your
          favourite sites.
        </p>

        <section
          class="flex flex-row justify-center md:justify-start gap-x-5 mt-8"
        >
          <button
            class="bg-softBlue shadow-lg text-white rounded-lg font-medium py-3 px-6 hover:bg-white hover:border-2 hover:border-softBlue hover:text-softBlue transition-all duration-200"
          >
            More Info
          </button>
        </section>
      </section>
    </div>
  </div>
</div>
