<!-- nav -->
<nav
  class="flex flex-row md:items-center flex-wrap justify-between items-center pt-5 relative font-sans"
>
  <!-- logo -->
  <img src="./images/logo-bookmark.svg" alt="logo" />

  <!-- menu icons-->
  <section class="md:hidden">
    <img src="./images/icon-hamburger.svg" alt="menu" />
  </section>

  <!-- menu -->
  <div
    class="bg-veryDarkBlue md:items-center bg-opacity-90 pt-8 md:pt-0 px-8 md:px-0 h-screen w-full hidden absolute top-0 md:contents"
  >
    <!-- logos -->
    <section class="flex flex-row justify-between md:hidden">
      <img src="./images/logo2.svg" alt="" class="" />
      <img
        src="./images/icon-close.svg"
        alt="close"
        class="w-4 h-4 cursor-pointer"
      />
    </section>
    <!-- links -->
    <ul
      class="flex flex-col md:flex-row gap-x-12 font-normal text-center text-lg uppercase tracking-widest text-white mt-8 md:mt-0 md:text-veryDarkBlue md:text-sm md:font-medium"
    >
      <li
        class="border-t p-5 border-grayishBlue md:border-0 md:p-0 hover:text-softRed transition-colors duration-200"
      >
        <a href="">features</a>
      </li>
      <li
        class="border-t p-5 border-grayishBlue md:border-0 md:p-0 hover:text-softRed transition-colors duration-200"
      >
        <a href="">pricing</a>
      </li>
      <li
        class="border-y p-5 border-grayishBlue md:border-0 md:p-0 hover:text-softRed transition-colors duration-200"
      >
        <a href="">contact</a>
      </li>
      <li
        class="border-2 border-white py-3 mt-5 md:py-0 md:mt-0 md:rounded-none rounded-lg font-medium text-xl md:border-0 md:p-0 md:text-sm"
      >
        <a
          href=""
          class="md:py-3 md:px-8 rounded-lg text-gray-50 md:bg-softRed shadow-lg"
          >login</a
        >
      </li>
    </ul>

    <!-- media account -->
    <section class="text-2xl text-white space-x-8 text-center mt-44 md:hidden">
      <i class="fa-brands fa-square-facebook"></i>
      <i class="fa-brands fa-twitter"></i>
    </section>
  </div>
</nav>
